services:
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    command: >
      mlflow server
      --host 0.0.0.0
      --port 5000
      --backend-store-uri sqlite:///mlflow/mlflow.db
      --artifacts-destination /mlflow/mlruns
      --serve-artifacts
    ports:
      - "5000:5000"
    volumes:
      - ./mlflow:/mlflow
